{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "globals": {
        "__DEV__": false,
        "__dirname": false,
        "window": true,
        "define": true,
        "process": true,
        "module": true,
        "require": true

    },
    "extends": [
        "eslint:recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {

        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [

    ],
    "rules": {
        "indent": [
            "error",
            "tab"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ]
    }
}
